.center {
  text-align: center;
  
}

/* Estilos generales */
body {
  background-color: #FDFCFB;
}

/* Estilos del contenedor principal */
#root {
  background-color: #FDFCFB;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Estilos para imágenes */
img {
  background-color: #FDFCFB;
  max-width: 400px;
  height: auto;
  
}


/* Estilos para párrafos */
p {
  position: absolute;
  bottom: 0;
}

/* Estilos para los botones */
.button-1,
.button-2 {
  align-items: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0 10px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

/* Estilos de botón 1 */
.button-1 {
  background-color: #13d230;
}

.button-1:hover,
.button-1:focus {
  background-color: #00ff2a;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-1:hover {
  transform: translateY(-1px);
}

.button-1:active {
  background-color: #13d230;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* Estilos de botón 2 */
.button-2 {
  background-color: #d21313;
}

.button-2:hover,
.button-2:focus {
  background-color: #860e0e;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-2:hover {
  transform: translateY(-1px);
}

.button-2:active {
  background-color: #860e0e;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* Estilo adicional */
.large {
  width: 150px;
  height: auto;
}
